################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Shopping/Shopping.Client/bin/Debug/net5.0
/Shopping/Shopping.Client/obj
